* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.brand-box {
  text-decoration: none;
  cursor: pointer;
}
.brand-title {
  font-size: 17px;
  color: #232323;
  line-height: 1.5;
  font-weight: 500;
}
.brand-decription {
  font-size: 14px;
  color: #323232;
  letter-spacing: 0.5px;
  font-weight: 400;
  /* padding: 0 0 8px; */
}
.brand-box-list {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
  padding: 15px;
  border-radius: 5px;
  list-style: none;
  /* margin-bottom: 20px; */
  margin-top: 20px;
}
