* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  flex: 1 0 auto;
}
.wrapper {
  padding: 25px 0;
}
.forgot-form h2 {
  font-size: 1.4em;
  font-weight: 600;
}
.input-box {
  margin: 10px 0;
}
.input-box label {
  margin-bottom: 5px;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
}
.input-text-block input {
  height: 45px;
}
.input-btn {
  border-radius: 3px;
  border: 1px solid #eceef3;
  color: #fff;
  padding: 10px 16px;
}
.input-btn:hover {
  cursor: pointer;
  background-color: #2962ff;
  border-radius: 3px;
}
.input-btn span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.9px;
}
.input-btn span:hover {
  color: #fff;
}
.redirect-link {
  color: #2962ff;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.input-error {
  border: 1px solid red;
}
