* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  flex: 1 0 auto;
}
.wrapper {
  padding: 25px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card h3 {
  font-weight: 500;
  font-size: 16px;
  color: #232323;
  line-height: 1.5;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.shop-toolbar {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 0 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
span {
  font-size: 14px;
  color: #323232;
}
.text-md-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.product-list-1 {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 25px;
}
.product-list-1 .product-container {
  background-color: #fff;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
  height: 100%;
  position: relative;
  /* border: 1px solid #e4e6eb; */
}
.product-img {
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}
.product-img img {
  width: 165px;
  height: 197.25px;
}
.item-name {
  margin-left: 25px;
  color: #2962ff;
  margin-top: 8px;
}
.item-name h1 {
  font-size: 16px;
  font-weight: 500;
}
.item-details {
  margin-left: 25px;
  color: #323232;
}
.item-details p {
  font-size: 14px;
}
.item-price {
  margin-left: 25px;
  color: #323232;
}
.item-price p {
  font-size: 20px;
}
.pagination-box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-wishlist-box {
  /* border: 1px solid black; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 175px;
  margin-top: 10px;
}
